* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--bg-url) no-repeat center center/cover;
  height: 100vh;
  /*background: url(./assets/bg-mobile.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center;*/
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
:root {
  --text-color: #ffffff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}
#container {
  width: 100%;
  max-width: 588px;
  /*height: 712px;*/
  border: solid 0px red;
  margin: -10px auto 0px auto; /* centraliza horizontalmente */
  padding-top: 0px 24px;
}
/* Profile Section */
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  /*display: block;*/
  /*margin: auto;*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #c7c3c3;
}
#profile p {
  font-weight: 400px;
  line-height: 25px;
  text-align: center;
  margin-top: 8px;
}
/* Theme Toggle Button */
#switch {
  width: 64px;
  height: 32px;
  position: relative;
  margin: 0px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;
  position: absolute;
  z-index: 1;
  transform: translateY(-13%);
  cursor: pointer;
  animation: slide-back ease 0.4s;
}
#switch button:hover {
  outline: 8px solid var(--highlight-color);
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  border: solid 1px var(--stroke-color);
  border-radius: 9999px;
  -webkit-backdrop-filter: blur(4px);
}
.light #switch button {
  animation: slide-in ease 0.4s forwards;
}
/* Links Section */
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  padding: 24px 0px;
}
ul li {
  border: solid 0px red;
}
ul li a {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border-radius: 8px;
  border: solid 1px var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background ease 0.3s, border ease 0.3s;
}
/* Efeito hover nos links */
ul li a:hover {
  background: var(--surface-color-hover);
  border: solid 1.5px var(--text-color);
}
#social-links {
  display: flex;
  font-size: 24px;
  border: solid 0px red;
  justify-content: center;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background ease 0.3s, border-radius ease 0.3s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
  /*border-radius: 50%;*/
}
footer {
  text-align: center;
  padding: 16px 0px;
  font-size: 14px;
}
@media (min-width: 768px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
/* animation for switch button */
@keyframes slide-in {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}
